@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  color: #000000;
  height: 100%;
}
.ratingProduct {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-container {
  height: 60px;
  width: 100%;
}
.navbar {
  display: flex;
  padding: 10px 20px;
  width: 100%;
  background-color: rgb(0, 132, 255);
}
.searchBar {
  display: flex;
  align-items: center;
  margin-left: 25px;
  padding: 5px;
}

.left {
  flex: 1;
}
.together_2 {
  display: flex;
  gap: 10px;
}
.together {
  display: flex;
  align-items: center;
  justify-content: center;
}
.center {
  flex: 1;
  text-align: center;
}
.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
}
.right-side {
  align-items: center;
  justify-content: center;
}
.right-badge {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-items {
  font-weight: 500;
  color: #edf0f1;
  font-size: 20px;
  text-decoration: none;
  background-color: rgb(0, 132, 255);
  transition: all 0.3s ease 0s;
}
.nav-items:hover {
  color: tomato;
}
.RegisterForm,
.LoginForm {
  margin: 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 5px rgb(255, 91, 79, 0.5);
}
.ProductForm {
  margin: 50px;
  width: 500px;
}
.deal {
  background-color: rgb(0, 102, 255, 0.6);
  width: 100%;
  height: 100px;
  display: flex;
  font-size: 25px;
  justify-content: center;
  align-items: center;
}
.CategoryForm {
  width: 500px;
  margin: 50px;
}
.log-out {
  border-radius: 5px;
  background-color: tomato;
  font-weight: 500;
  color: #edf0f1;
  font-size: 17px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding: 6px 12px;
  border: none;
}

.Register,
.Login {
  width: 30%;
  display: flex;
  padding: 20px;
  margin-left: 550px;
  margin-top: 5px;
  flex-direction: column;
}

.Category {
  display: flex;
  padding: 30px;
  flex-direction: column;
}
.Product {
  display: flex;
  padding: 10px;
  flex-direction: column;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px;
  gap: 20px;
}
/***************************************************************************************************************/
.banner {
  width: 100%;
  height: 50%;
}
.image-banner {
  height: 85%;
  width: 100%;
  object-fit: cover;
}
.footer {
  background: linear-gradient(to left, tomato, #2769a0);
  height: 50px;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 20px;
  justify-content: center;
}
.footerHome {
  background: linear-gradient(to left, tomato, #2769a0);
  height: 50px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 20px;
  justify-content: center;
}
.product-container {
  margin: 15px;
  min-width: 300px;
  height: 300px;
  display: flex;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 5px rgb(255, 90, 79, 0.9);
  align-items: center;
  justify-content: center;
  background-color: white;
}
.product-container-map {
  display: grid;
  padding: 5px;
  grid-template-columns: repeat(3, 1fr);
}
.text {
  text-align: center;
  margin-bottom: 50px;
  text-decoration: underline solid tomato;
}
.image {
  height: 65%;
}
.productWarper {
  padding: 50px;
  display: flex;
}
.imageContainer {
  flex: 1;
}
.infoContainer {
  flex: 3;
  padding: 0px 50px;
}
.flexAdmin {
  display: flex;
}
.eee {
  color: rgb(26, 89, 207);
  font-size: 25px;
}
.eee_nav {
  color: rgba(255, 99, 71, 0.99);
  font-size: 20px;
}
.singleProductImage {
  width: 100%;
  height: 90%;
  object-fit: contain;
}
p {
  line-height: 2em;
  font-size: 20px;
  font-weight: 500;
}
.rating-star {
  display: flex;
  align-items: center;
}
.singleProductName {
  font-weight: 200;
}
.singleProductPrice {
  font-weight: 100;
  font-size: 30px;
  font-weight: 700;
}
.addToCart {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 60px 0px 0px 30px;
  justify-content: space-evenly;
}
.spanSingleProduct {
  cursor: pointer;
}
.amountContainer {
  display: flex;
  align-items: center;
  font-weight: 1000;
}
.amountSpan {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid teal;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5px;
}
.addToCartSingle {
  padding: 15px;
  border-radius: 10px;
  border: 4px solid rgb(0, 132, 255);
  cursor: pointer;
  font-weight: 800;
  background-color: tomato;
}
.Cart {
  margin-top: 40px;
}
.CartContainer {
  padding: 10px;
}
.cartTitle {
  font-weight: 500;
  text-align: center;
}
.cartTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.selectContainer {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.selectOptions {
  padding: 10px;
}
.textTopCart {
  cursor: pointer;
  margin: 0 10px;
  font-weight: 600;
}
.BackToHome {
  padding: 10px;
  font-weight: 600;
  padding: 15px;
  border-radius: 8px;
  border: 4px solid rgb(0, 132, 255);
  cursor: pointer;
  background-color: tomato;
}
.home {
  margin-bottom: 90px;
}
.checkOutButton {
  padding: 10px;
  font-weight: 600;
  padding: 15px;
  border-radius: 8px;
  border: 4px solid rgb(0, 132, 255);
  cursor: pointer;
  background-color: tomato;
}
.pagButton {
  padding: 10px;
  font-weight: 600;
  padding: 15px;
  border-radius: 8px;
  border: 4px solid rgb(0, 132, 255);
  cursor: pointer;
  background-color: tomato;
}
.cartBottom {
  display: flex;
  justify-content: space-between;
}
.cartInfo {
  flex: 3;
}
.productCart {
  display: flex;
  justify-content: space-between;
}
.ProductInfo {
  flex: 2;
  display: flex;
}
.PriceInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productImageCart {
  width: 200px;
}
.infos {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ProductAmountContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.productAmount {
  font-size: 25px;
  margin: 5px;
}
.productActualPrice {
  font-size: 30px;
  font-weight: 300;
}
.splitter {
  border: 1px double tomato;
  margin: 15px;
}
.cartDetails {
  flex: 1;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 20px;
  height: 58vh;
}
.summaryItem {
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
}
.checkOutCart {
  margin-left: 100px;
  padding: 20px;
  font-weight: 600;
  border-radius: 10px;
  border: 5px solid rgb(0, 132, 255);
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.747);
}
.deleteButtonAdmin {
  padding: 10px;
  font-weight: 500;
  border-radius: 10px;
  border: 5px solid rgb(0, 132, 255);
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.747);
}
.updateButtonAdmin {
  padding: 10px;
  font-weight: 500;
  border-radius: 10px;
  border: 5px solid rgb(0, 132, 255);
  cursor: pointer;
  background-color: rgba(119, 119, 119, 0.747);
}
/***********************************/
.Icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(255, 0, 0, 0.8);
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.SearchIcon {
  cursor: pointer;
}
.container-cart {
  padding: 20px;
}
.userName,
.country,
.email,
.password,
.productName,
.price,
.rating,
.views,
.imageSrc,
.category {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 1px 1px 5px 1px rgb(70, 69, 69);
}
.registerButton,
.loginButton,
.addProductButton {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 1px 1px 5px 1px rgb(70, 69, 69);
  background-color: royalblue;
}
button {
  cursor: pointer;
}
