@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.App {
  display: flex;
  flex-direction: column;
  color: #000000;
}

.nav-container {
  height: 60px;
}
.navbar {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 132, 255);
}
.searchBar {
  border: 1px solid lightgray;
  display: flex;
  border-radius: 10px;
  align-items: center;
  margin-left: 25px;
  padding: 5px;
}

.nav-items:hover {
  color: tomato;
}
.left {
  flex: 1;
}
.center {
  flex: 1;
  text-align: center;
}
.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.right-side {
  margin-left: 30px;
}
.nav-items {
  font-weight: 500;
  color: #edf0f1;
  font-size: 25px;
  text-decoration: none;
  background-color: rgb(0, 132, 255);
  transition: all 0.3s ease 0s;
}

.RegisterForm,
.LoginForm,
.ProductForm {
  border: 5px solid red;
  margin: 15px;
}

.log-out {
  border-radius: 10px;
  background-color: rgb(253, 75, 44);
  box-shadow: 1px 1px 15px rgb(0, 0, 0);
  font-weight: 500;
  color: #edf0f1;
  font-size: 20px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding: 9px 25px;
  border: none;
}

.Register,
.Login,
.Product {
  width: 25%;
  display: flex;
  padding: 20px;
  margin: 10px;
  border: 5px solid red;
  flex-direction: column;
}
/***************************************************************************************************************/

.banner {
  width: 100%;
  height: 80vh;
  margin-top: 5px;
  margin-bottom: 50px;
}
.image-banner {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.product-container {
  flex: 1;
  margin: 20px;
  min-width: 300px;
  height: 300px;
  display: flex;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  background-color: rgba(55, 85, 216, 0.5);
  margin-bottom: 100px;
}
.product-container-map :hover {
  transform: translateY(-5px);
}

.product-container-map {
  display: flex;
  padding: 15px;
  flex-wrap: wrap;
  transition: transform 0.5s;
}
.text {
  text-align: center;
}
.image {
  height: 70%;
}

.Icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.container-cart {
  padding: 20px;
}
.userName,
.country,
.email,
.password,
.productName,
.price,
.rating,
.views,
.imageSrc,
.category {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 1px 1px 5px 1px rgb(70, 69, 69);
}
.registerButton,
.loginButton,
.addProductButton {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 1px 1px 5px 1px rgb(70, 69, 69);
  background-color: royalblue;
}
